{
  "openapi": "3.0.4",
  "info": {
    "title": "Cyrisma Partner API",
    "description": "CYRISMA's next-generation API will assist organizations that use the CYRISMA risk management platform to further automate and enhance overall risk management. The API provides provisioning and reporting features meaning that deployments can be automated and scan data can be retrieved for further aggregation and reporting. The API will enable the setup of new partners and instances, review of partner and instance status and utilization, and management of partners through their lifecycle.  Access to CYRISMA risk management is based on a foundation of secure API access token authentication and identity management.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.cyrisma.com/app"
    }
  ],
  "paths": {
    "/partner/vulnerability/assets": {
      "get": {
        "tags": [
          "Vulnerability Assets"
        ],
        "summary": "Assets list with vulnerability counts",
        "description": "Returns a list of assets and their vulnerability totals (critical/high/medium/low/info), along with basic asset metadata.\r\n\r\n\r\nRequired headers:\r\n\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetAssetsList",
        "parameters": [
          {
            "name": "assetType",
            "in": "query",
            "description": "The **assetType** query parameter determines which asset types are returned by the API.\n\nWhen:\n- **assetType=internal**, the response includes assets with **Internal Authenticated** and **Internal Unauthenticated** vulnerabilities.\n- **assetType=external**, the response includes assets with **External – IP Addresses** and **External – Web Application URLs** vulnerabilities.",
            "schema": {
              "type": "string",
              "description": "The **assetType** query parameter determines which asset types are returned by the API.\n\nWhen:\n- **assetType=internal**, the response includes assets with **Internal Authenticated** and **Internal Unauthenticated** vulnerabilities.\n- **assetType=external**, the response includes assets with **External – IP Addresses** and **External – Web Application URLs** vulnerabilities."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetList"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/partner/vulnerability/assets/authenticated": {
      "get": {
        "tags": [
          "Vulnerability Assets"
        ],
        "summary": "Internal Authenticated scan details for an asset",
        "description": "Returns **Internal Authenticated** vulnerability details for a single asset based on asset id.\r\n\r\nUse this endpoint when you already know the asset id and want detailed counts and list of **root cause**s, **CVE**s and **open ports** for the asset.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetInternalAuthenticatedVulnerabilities",
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "description": "Asset Id of Internal Authenticated Vulnerability scan.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Asset Id of Internal Authenticated Vulnerability scan.",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InternalAuthAsset"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/partner/vulnerability/assets/ip": {
      "get": {
        "tags": [
          "Vulnerability Assets"
        ],
        "summary": "Internal Unauthenticated/External - IP Addresses scan details for an asset",
        "description": "Returns **Internal Unauthenticated** or **External IP Address** vulnerability details for a device identified by IP address, based asset IP address.\r\n\r\nUse this endpoint when you already know the asset ip and want detailed counts and list of **CVE**s and **open ports** for the asset.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetUnauthenticatedAndExternalVulnerabilities",
        "parameters": [
          {
            "name": "assetIp",
            "in": "query",
            "description": "Asset Ip of Internal Unauthenticated/External - IP Addresses Vulnerability scan.",
            "schema": {
              "type": "string",
              "description": "Asset Ip of Internal Unauthenticated/External - IP Addresses Vulnerability scan."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerIpVuln"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/partner/vulnerability/assets/webapp": {
      "get": {
        "tags": [
          "Vulnerability Assets"
        ],
        "summary": "Web Application scan findings for an asset",
        "description": "Returns **web application** vulnerability findings (for example: URL-based issues) for a specific asset.\r\n\r\nUse this endpoint when you already know the asset id and want detailed counts and list of **findings** for the asset.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetWebAppFindings",
        "parameters": [
          {
            "name": "assetId",
            "in": "query",
            "description": "Asset Id of Web Application Vulnerability scan.",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Asset Id of Web Application Vulnerability scan.",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWebAppVuln"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/partner/scans/completed": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List completed scans",
        "description": "Returns a list of all completed scans across your instances.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetCompletedScans",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/scans/data-scans/targets": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List data scan targets",
        "description": "Returns a list of targets configured for data scans.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetDataScanTargets",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/scans/data": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "Get data scan results",
        "description": "Returns results from data scans including sensitive data discovery findings.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetDataScans",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/scans/vulnerability": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List vulnerability scans",
        "description": "Returns a list of all vulnerability scans across your instances.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetVulnerabilityScans",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/scans/baseline": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List baseline configuration scans",
        "description": "Returns a list of baseline configuration scans and their compliance status.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetBaselineScans",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/scans/vulnerability/{scanId}": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "Get vulnerability scan details",
        "description": "Returns detailed results for a specific vulnerability scan by scan ID.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetVulnerabilityScanById",
        "parameters": [
          {
            "name": "scanId",
            "in": "path",
            "description": "The unique identifier of the vulnerability scan.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/dashboards/overall": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get overall dashboard metrics",
        "description": "Returns aggregated dashboard metrics across all instances including risk scores and summary statistics.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetOverallDashboard",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/dashboards/data": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get data dashboard metrics",
        "description": "Returns dashboard metrics related to sensitive data discovery scans.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetDataDashboard",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/dashboards/vulnerability": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get vulnerability dashboard metrics",
        "description": "Returns dashboard metrics for vulnerability management including counts by severity.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetVulnerabilityDashboard",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/dashboards/baseline": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get baseline dashboard metrics",
        "description": "Returns dashboard metrics for baseline configuration compliance.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetBaselineDashboard",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/dashboards/vulnerability/cve": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get CVE dashboard metrics",
        "description": "Returns dashboard metrics specifically for CVE tracking and remediation status.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetCveDashboard",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/plans/mitigation": {
      "get": {
        "tags": [
          "Mitigations"
        ],
        "summary": "List mitigation plans",
        "description": "Returns a list of all mitigation plans and their current status.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetMitigationPlans",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/plans/mitigation/{mit_id}": {
      "get": {
        "tags": [
          "Mitigations"
        ],
        "summary": "Get mitigation plan details",
        "description": "Returns detailed information for a specific mitigation plan by ID.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetMitigationPlanById",
        "parameters": [
          {
            "name": "mit_id",
            "in": "path",
            "description": "The unique identifier of the mitigation plan.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/agent/status": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Get agent status",
        "description": "Returns the current status of all deployed CYRISMA agents across your instances.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetAgentStatus",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/instances/token-insert": {
      "post": {
        "tags": [
          "Instances"
        ],
        "summary": "Insert instance token",
        "description": "Inserts a new authentication token for an instance.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "InsertInstanceToken",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/partner/config/webhook": {
      "get": {
        "tags": [
          "Webhook Configuration"
        ],
        "summary": "Get webhook configuration",
        "description": "Returns the current webhook configuration settings.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "GetWebhookConfig",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Webhook Configuration"
        ],
        "summary": "Create webhook configuration",
        "description": "Creates a new webhook configuration for receiving event notifications.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "CreateWebhookConfig",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhook Configuration"
        ],
        "summary": "Delete webhook configuration",
        "description": "Removes the current webhook configuration.\r\n\r\nRequired headers:\r\n\r\n- `Authorization: access_token {token}`",
        "operationId": "DeleteWebhookConfig",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AssetList": {
        "type": "object",
        "properties": {
          "TargetId": {
            "type": "string",
            "nullable": true
          },
          "IP": {
            "type": "string",
            "nullable": true
          },
          "Icon": {
            "type": "string",
            "nullable": true
          },
          "ScanId": {
            "type": "integer",
            "format": "int32"
          },
          "ScanType": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "agentIsOnline": {
            "type": "boolean"
          },
          "AssetName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "AssetId": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "AssetIp": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "OSName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "TotalNumberOfVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfCriticalVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfHighVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfMediumVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfLowVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfInformationalVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "AssetScore": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "HasAgentInstalled": {
            "type": "boolean",
            "readOnly": true
          },
          "AgentIsOnline": {
            "type": "boolean",
            "readOnly": true
          },
          "Tags": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "FingerPrint": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "FinishTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "InternalAuthAsset": {
        "type": "object",
        "properties": {
          "AssetScore": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "TotalNumberOfVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfCriticalVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfHighVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfMediumVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "NumberOfLowVulnerabilities": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "AssetName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "AgentName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "LastChecked": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "LastScan": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Tags": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "RootCauses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InternalAuthDetailsRootCause"
            },
            "nullable": true,
            "readOnly": true
          },
          "CVEs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InternalAuthDetailsCVE"
            },
            "nullable": true
          },
          "OpenPorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InternalAuthDetailsOpenPort"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "InternalAuthDetailsCVE": {
        "type": "object",
        "properties": {
          "CveID": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CveTitle": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "FirstSeen": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "Exploitability": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "Severity": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CVSS": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "EPSS": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "ScanId": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Patchable": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "InternalAuthDetailsOpenPort": {
        "type": "object",
        "properties": {
          "OpenPort": {
            "type": "string",
            "nullable": true
          },
          "OpenPortName": {
            "type": "string",
            "nullable": true
          },
          "Protocol": {
            "type": "string",
            "nullable": true
          },
          "Severity": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InternalAuthDetailsRootCause": {
        "type": "object",
        "properties": {
          "RootCause": {
            "type": "string",
            "nullable": true
          },
          "FirstSeen": {
            "type": "string",
            "format": "date-time"
          },
          "Exploitability": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "HighestCVSS": {
            "type": "number",
            "format": "double"
          },
          "HighestEPSS": {
            "type": "number",
            "format": "double"
          },
          "TotalNumberOfVulnerabilities": {
            "type": "integer",
            "format": "int32"
          },
          "Patchable": {
            "type": "boolean"
          },
          "Id": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "PartnerIpVuln": {
        "type": "object",
        "properties": {
          "RiskGrade": {
            "type": "string",
            "nullable": true
          },
          "TotalCVECount": {
            "type": "integer",
            "format": "int32"
          },
          "CriticalCount": {
            "type": "integer",
            "format": "int32"
          },
          "HighCount": {
            "type": "integer",
            "format": "int32"
          },
          "MediumCount": {
            "type": "integer",
            "format": "int32"
          },
          "LowCount": {
            "type": "integer",
            "format": "int32"
          },
          "DeviceFingerprint": {
            "type": "string",
            "nullable": true
          },
          "MACAddress": {
            "type": "string",
            "nullable": true
          },
          "MACVendor": {
            "type": "string",
            "nullable": true
          },
          "SNMPResult": {
            "type": "string",
            "nullable": true
          },
          "FinishTime": {
            "type": "string",
            "format": "date-time"
          },
          "CVEs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerIpVulnCve"
            },
            "nullable": true
          },
          "OpenPorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerIpVulnOpenPort"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PartnerIpVulnCve": {
        "type": "object",
        "properties": {
          "CveID": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "FirstSeen": {
            "type": "string",
            "format": "date-time"
          },
          "Exploitability": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Severity": {
            "type": "string",
            "nullable": true
          },
          "CVSS": {
            "type": "number",
            "format": "double"
          },
          "EPSS": {
            "type": "number",
            "format": "double"
          },
          "ScanId": {
            "type": "integer",
            "format": "int32"
          },
          "Patchable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "PartnerIpVulnOpenPort": {
        "type": "object",
        "properties": {
          "ScanId": {
            "type": "integer",
            "format": "int32"
          },
          "PortNumber": {
            "type": "string",
            "nullable": true
          },
          "PortDescription": {
            "type": "string",
            "nullable": true
          },
          "RiskLevel": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PartnerWebAppVuln": {
        "type": "object",
        "properties": {
          "TotalNumberFindings": {
            "type": "integer",
            "format": "int32"
          },
          "NumberOfHighVulnFindings": {
            "type": "integer",
            "format": "int32"
          },
          "NumberOfMedVulnFindings": {
            "type": "integer",
            "format": "int32"
          },
          "NumberOfLowVulnFindings": {
            "type": "integer",
            "format": "int32"
          },
          "NumberOfInfoVulnFindings": {
            "type": "integer",
            "format": "int32"
          },
          "RiskGrade": {
            "type": "string",
            "nullable": true
          },
          "Findings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerWebAppVulnFinding"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PartnerWebAppVulnFinding": {
        "type": "object",
        "properties": {
          "FindingName": {
            "type": "string",
            "nullable": true
          },
          "FindingDescription": {
            "type": "string",
            "nullable": true
          },
          "FindingSolution": {
            "type": "string",
            "nullable": true
          },
          "FindingOther": {
            "type": "string",
            "nullable": true
          },
          "FindingReferenceURLs": {
            "type": "string",
            "nullable": true
          },
          "FindingRiskLevelName": {
            "type": "string",
            "nullable": true
          },
          "FindingsCount": {
            "type": "integer",
            "format": "int32"
          },
          "FindingDetails": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}
